**/__pycache__/
/models/
/whisper-venv/
/dist/
/build/
config.yaml
/node_modules/
/.vscode/
.DS_Store
*.log
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite
*.env
/frontend/node_modules/
/backend/whisper_311/
/backend/models/
/audio_files/